<template>
  <table @click="handleClick" @keydown="handleKey">
    <thead>
      <tr>
        <th v-for="column in columns" v-bind:key="column.name">
          <div class="value" tabindex="0">{{column.name}}</div>
        </th>
      </tr>
    </thead>
    <tbody ref="tableBody">
      <tr v-for="record in data" v-bind:key="record.name">
        <td v-for="column in columns" v-bind:key="column.name">
          <div class="value" tabindex="0">{{record[column.name]}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, ref, watch, watchEffect } from 'vue'
import { useStore, Direction } from '../store'

let AudioContext: (typeof window.AudioContext | undefined) = undefined
if (window.AudioContext) {
  AudioContext = window.AudioContext
} else if (window.webkitAudioContext) {
  AudioContext = window.webkitAudioContext
}

export default defineComponent({
  name: 'HelloWorld',
  setup: (props, _ctx) => {
    const tableBody = ref()

    const store = useStore()

    const audio = reactive<{
      context?: AudioContext,
      oscillator?: OscillatorNode,
      gain?: GainNode,
    }>({
      context: undefined,
      oscillator: undefined,
      gain: undefined,
    })

    const doc = store.state.docs.main
    const { data, columns } = doc

    const findTableCell = (target: HTMLElement) => {
      let cell = target
      for (let i=0; i < 10; i++) {
        if (cell.parentElement?.parentElement === tableBody.value) {
          return cell
        }
        if (cell.parentElement) {
          cell = cell.parentElement
        } else {
          return
        }
      }
    }

    const getCellPosition = (cell: HTMLElement): { row: number, col: number } => {
      if (!(tableBody.value && tableBody.value === cell.parentElement?.parentElement)) {
        throw new Error('Invalid target')
      }
      const row = cell.parentElement as HTMLElement
      const colIndex = Array.from(row.children).findIndex(iterCell => iterCell === cell)
      const table = tableBody.value as HTMLElement
      const rowIndex = Array.from(table.children).findIndex(iterRow => iterRow === row)
      return {row: rowIndex, col: colIndex}
    }

    const getCell = (row: number, col: number): HTMLElement | undefined => {
      if (tableBody.value) {
        const rowElement = tableBody.value.children[row]
        if (rowElement) {
          return rowElement.children[col]
        }
      }
    }

    const handleClick = async (e: MouseEvent) => {
      initSound()
      const target = e.target as HTMLElement
      const cell = findTableCell(target)
      if (!cell) return
      const { row, col } = getCellPosition(cell)
      store.dispatch('setSelectedPosition', {editor: 'main', row, col})
    }

    const initSound = () => {
      if (!AudioContext) {
        return
      }
      if (!audio.context) {
        audio.context = new AudioContext()
      }
    }

    const playSound = async () => {
      if (audio.context) {
        const oscillator = audio.context.createOscillator()
        oscillator.type = "sine"
        oscillator.frequency.value = 500
        const gain = audio.context.createGain()
        gain.gain.setValueAtTime(0.5, audio.context.currentTime)
        oscillator.connect(gain)
        gain.connect(audio.context.destination)
        oscillator.start(audio.context.currentTime)
        gain.gain.exponentialRampToValueAtTime(0.00001, audio.context.currentTime + 0.08)
        setTimeout(() => {
          oscillator.disconnect()
          gain.disconnect()
        }, 100)
      }
    }

    const selection = computed(() => {
      const selection = store.state.editors.main.selection
      const { row, col } = selection
      return { row, col }
    })

    watch(selection, () => {
      const el = getCell(selection.value.row, selection.value.col)
      if (el && el.children.length === 1) {
        const item = el.children[0] as HTMLDivElement
        item.focus()
      }
    })

    const handleKey = (e: KeyboardEvent) => {
      initSound()
      const keyDirections: { [key: string]: Direction } = { k: 'up', j: 'down', h: 'left', l: 'right' }
      if (e.key in keyDirections) {
        const direction = keyDirections[e.key]
        store.dispatch('move', { editor: 'main', direction })
        playSound()
      }
    }
    return { tableBody, data, columns, handleClick, handleKey }
  }
})
</script>

<style scoped>
table {
  background-color: white;
}
th {
  position: sticky;
  top: 0;
  background-color: white;
}
div.value {
  outline-width: 2px;
}
div.value:focus, div.value:focus-within {
  outline-style: solid;
}
</style>
