<script lang="ts">
import { defineComponent } from 'vue'
import TableEdit from './components/TableEdit.vue'

export default defineComponent({
  name: 'App',
  components: {
    TableEdit
  },
})
</script>

<template>
  <div class="info">
    After selecting a table cell by pressing Tab or clicking, use h, j, k, l to move. A sound will play. (This only works on desktop.)
    <a href="https://gitlab.com/ResourcesCo/table-edit-20210409" target="_blank">Source</a>
  </div>
  <TableEdit />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info {
  background: #d7d7e0;
  padding: 5px 12px;
  border-radius: 8px;
}
</style>